<ion-header showWhen="mobile">
	<ion-navbar>
	    <button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
		<ion-title>
		  MORONY TIMES
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-toolbar showWhen="core">
		<ion-title>MORONY TIMES</ion-title>
	</ion-toolbar>
	<ion-toolbar showWhen="core">
		<ion-buttons>
			<button ion-button>World</button>
			<button ion-button>Politics</button>
			<button ion-button>Business</button>
			<button ion-button>Opinion</button>
			<button ion-button>Tech</button>
			<button ion-button>Food</button>
			<button ion-button>Health</button>
			<button ion-button>Travel</button>
		</ion-buttons>
	</ion-toolbar>

	<ion-grid>
		<ion-row>
			<ion-col col-12 col-xl-6 *ngFor="let story of stories">
				<ion-card>
					<ion-card-header class="story-headline">
						<h2>{{story.title}}</h2>
					</ion-card-header>
					<ion-card-content class="story-content">
						<p class="author">BY {{story.author}}</p>
						<img src="http://placehold.it/100" />
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>