page-home {

	ion-content {
		
	}

	.story-headline {

		background-color: map-get($colors, light);
		white-space: normal;

		h2 {
			font-size: 1.5em;	
			font-weight: bold;	
		}

	}

	.story-content {
		
		padding: 20px !important;
		font-family: georgia, "times new roman", times, serif;

		img {
			float: left;
			width: auto;
			margin-right: 20px;
			margin-bottom: 10px;
			border: 3px solid map-get($colors, light);
		}

		p {
			margin: 20px 0;
		}

	}

	.author {
		
		text-transform: uppercase;
		font-size: 0.8em;
		opacity: 0.5;
	}

	@media all and (max-width: 576px) {
		
		img {
			display: none;
		}

	}

}

.desktop page-home {

	ion-card {
		box-shadow: none;
	}

	ion-toolbar {
		text-align: center;
	}

}
