<ion-split-pane when="(min-width: 768px)">

	<ion-menu showWhen="mobile" [content]="content">
		<ion-header>
			<ion-toolbar>
				<ion-title>Categories</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list no-lines>
				<button ion-item menuToggle>World</button>
				<button ion-item menuToggle>Politics</button>
				<button ion-item menuToggle>Business</button>
				<button ion-item menuToggle>Opinion</button>
				<button ion-item menuToggle>Tech</button>
				<button ion-item menuToggle>Food</button>
				<button ion-item menuToggle>Health</button>
				<button ion-item menuToggle>Travel</button>
			</ion-list>
		</ion-content>
	</ion-menu>

	<ion-nav main [root]="rootPage" main #content></ion-nav>

</ion-split-pane>